@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-dark-bg: #0f172a;
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --bg-color: #00040f;
  --text-color: #ffffff;
  --icon-color: #ffffff;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --icon-color: #000000;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
