---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AdVerse - Your Brand Wins</title>
    <link rel="stylesheet" />
  </head>
  <body class="antialiased">
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: light)").matches) {
          return "light";
        }
        return "dark";
      })();
      document.documentElement.setAttribute("data-theme", theme);
    </script>
    <slot />
  </body>
</html>

<style is:global>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", sans-serif;
  }
</style>
